{
   "EnableDurabilityOverride" : false,
   "Durability":{ 
        "default":{
            "armor":{
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 50,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "pmc": { 
            "armor": {
                "lowestMaxPercent": 90,   
                "highestMaxPercent": 100, 
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 95,
                "highestMax": 100,
                "maxDelta": 5,
                "minDelta": 0
            }
        },
        "boss": { 
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 80,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "follower": { 
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 80,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "assault": {
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 48,
                "highestMax": 70,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "cursedassault": {
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 50,
                "highestMax": 70,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "marksman": {
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 50,
                "highestMax": 70,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "pmcbot":{
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 80,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "exusec":{
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 79,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "sectantpriest": {
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 90,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        },
        "sectantwarrior": {
            "armor": {
                "maxDelta": 10,
                "minDelta": 0
            },
            "weapon": {
                "lowestMax": 90,
                "highestMax": 100,
                "maxDelta": 10,
                "minDelta": 0
            }
        }
    }
}